.description ul li {
  list-style-type: none;
}
#heading{
  color: black;
}
h1 {
  color: #f2f2f2;
  background: #f01b1b;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  margin: 0 5px 24px;
  float: left;
  padding: 10px;
  margin: 0 5px 24px;
  font-family: 'Libre Baskerville', serif;
}

.description ul {
  padding: 0%;
  margin: 0%;
}

.description {
  font-size: large;
  padding-left: 8%;
  padding-top: 3%;
}

.myCard {
  color: rgb(0, 0, 0);
  margin: 2% 0%;
  background: linear-gradient(135deg, #b8f295 0%, #06672b 100%);
  width: 90%;
  padding: auto;
  margin:auto;
  margin-bottom: 4%;
  color: white;
  border: 5px solid rgb(0, 0, 0);
  
}

#system {
  background: linear-gradient(135deg, #ffffff 0%, #07a1e9 100%);
  border-radius: 50px;
  border: 5px solid rgb(0, 0, 0);
  background-color: #ffffff;
  width: 60%;
  margin: auto;
  font-size: large;
  color: black;
  align-items: center;
  align-content: center
  
}

.enrollForm {
  width: 70%;
  margin: auto;
  padding: 3%;
}

input[type=text] {
  margin-right: 10%;
  width: 50%;
}

input[type=email] {
  width: 50%;
  margin-right: 10%;
}

.label {
  display: inline-block;
  width: 12%;
}

.card-Div {
  width: auto;
}

.image img {
  width: 60%;
  float: right;
  margin: 8%;
}

.enrolled {
  text-align: center;
  background-color: rgb(0, 36, 68);
  color: white;
  padding: 2%;
}

body {
  color: white;
}

input {
  padding: 1%;
}

form label span {
  visibility: hidden;
}

label {
  font-size: large;
}

button {
  font-size: large;
  padding: 1% 12%;
  margin-top: 5%;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-left: 5px;
}

input {
  margin: 1%;
}

.clear {
  background-color: rgb(0, 0, 0);
  color: white;
}